// colors
$primary-site-color: #3CA2E0;

// font sizing
$font-size--xs: 10px;
$font-size--sm: 12px;
$font-size--md: 16px;
$font-size--lg: 24px;
$font-size--xl: 32px;

@mixin breakpoint($point) {
   @if $point == desktop {
     @media (min-width: 70em) { @content ; }
  }
   @else if $point == laptop {
     @media (min-width: 64em) and (max-width: 70em) { @content ; }
  }
    @else if $point == tablet {
     @media (min-width: 50em) and (max-width: 64em) { @content ; }
  }
   @else if $point == phablet {
     @media (min-width: 37.5em) and (max-width: 50em)  { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 37.5em)  { @content ; }

  }
}