@import 'base';

@import 'font-awesome/font-awesome';
@import 'bootstrap/_bootstrap.scss';
@import 'vars';

@import 'pages/error';
@import 'pages/login';

@import 'pages/showEvents';
@import 'pages/showGallery';
@import 'pages/showNews';

@import 'pages/editNews';
@import 'pages/editEvents';

@import 'pages/addNews';
@import 'pages/addEvents';

@import 'pages/dashboard';
@import 'pages/overview';
@import 'pages/news';
@import 'pages/userProfile';

@import 'widgets/input-underline';
@import 'widgets/bootstrap-btn-outline-rounded';
@import 'widgets/colorpicker';
@import 'widgets/tags';
@import 'widgets/post-widegets';
@import 'widgets/post-widegets';
@import 'widgets/searchbar';
@import 'widgets/timepicker';

@import 'transitions/all';

@import 'forms/form-basic';


::-webkit-scrollbar-track
{
	box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

