<div class="edit-news">
	<div class="jumbotron">
		<div class="container">
			<div class="events-container col-md-12 col-sm-12 col-xs-12">
				<form class="edtiNewsForm">
					<div class="row">
						<div class="col-md-3 labelBox">
							<label class="formLabel">Tytuł posta: <br><span class="charCounter">({{addArticleTitle.length}} / 80)</span></label>
						</div>
						<div class="col-md-9 inputBox">
							<div ui-tinymce="oneLineEditorOptions" ng-model="addArticleTitle"></div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-3 labelBox">
							<label class="formLabel">Opis skrócony posta: <br><span class="charCounter">({{addArticleShortText.length}} / 300)</span></label>
						</div>
						<div class="col-md-9 inputBox">
							<div ui-tinymce="oneLineEditorOptions" ng-model="addArticleShortText"></div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-3 labelBox postMiniature">
							<label class="formLabel">Miniatura posta: </label>
						</div>

						<div class="col-md-9 postMiniature">
							<img ng-src="http://via.placeholder.com/200" alt="Post image" class="addPostMiniature img-responsive" ng-click="changePostMiniature(); $event.stopPropagation();" id="addPostMiniatureImage">
							<input type="file" id="addPostMiniature" class="hiddenInput" accept="image/*">
						</div>
					</div>

					<div class="row">
						<div class="col-md-3 labelBox">
							<label class="formLabel">Tagi: </label>
						</div>

						<div class="col-md-9">
							<tags-input ng-model="addArticleTags"></tags-input>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 inputBox">
							<div ui-tinymce="addTextEditorOptions" ng-model="editArticleLongText"></div>
						</div>
					</div>

				</form>

				<a class="standardButton btn btn-primary btn-outline">Dodaj posta</a>
			</div>
		</div>
	</div>
</div>