<div class="col-sm-3 col-md-2 sidebar">
  <div class="text-center">
    <h2 class="brand"><small>ZSŁ Kraków</small></h2>
    <img src="images/flat-avatar.png" class="user-avatar" /><br />
    <a class="btn btn-white btn-outline btn-rounded btn-sm" ng-click="logOut()">Wyloguj</a>
  </div>

  <ul class="nav nav-sidebar">
    <li class="przeglad sidebar-menu-active"><a ui-sref="Overview">Przegląd</a></li>
    <li class="aktualnosci sidebar-menu-active"><a ui-sref="News">Aktualnosci</a></li>
    <li class="wydarzenia sidebar-menu-active"><a ui-sref="Events">Wydarzenia</a></li>
    <li class="specjalizacje sidebar-menu-active"><a ui-sref="Specializations">Specjalizacje</a></li>
    <li class="dokumenty sidebar-menu-active"><a ui-sref="Documents">Dokumenty</a></li>
    <li class="galeria sidebar-menu-active"><a ui-sref="Gallery">Galeria</a></li>
    <li class="uzytkownik sidebar-menu-active"><a ui-sref="UserProfile">Profil</a></li>
  </ul>
</div>