<div class="edit-events">
	<div class="jumbotron">
		<div class="container">
			<div class="events-container col-md-12 col-sm-12 col-xs-12">
				<form class="editEventsForm" enctype="multipart/form-data">
					<div class="row">
						<div class="col-md-3 labelBox">
							<label class="formLabel">Tytuł wydarzenia: <br><span class="charCounter">({{editEventTitle.length}} / 80)</span></label>
						</div>
						<div class="col-md-9 inputBox">
							<div class="editor" ui-tinymce="oneLineEditorOptions" ng-model="editEventTitle"></div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-3 labelBox">
							<label class="formLabel">Opis skrócony wydarzenia: <br><span class="charCounter">({{editEventShortText.length}} / 300)</span></label>
						</div>
						<div class="col-md-9 inputBox">
							<div class="editor" ui-tinymce="oneLineEditorOptions" ng-model="editEventShortText"></div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-3 labelBox eventMiniature">
							<label class="formLabel">Miniatura wydarzenia: </label>
						</div>

						<div class="col-md-9 eventMiniature">
							<div class="eventImage">
								<img ng-src="{{galleryUrl}}/eventsGallery/{{editEvent.eventMiniature}}" alt="Event image" class="editEventMiniature img-responsive" ng-click="changeEventMiniature(); $event.stopPropagation();" id="editEventMiniatureImage">
							</div>
							
							<input type="file" id="editEventMiniature" file-model="editEventMiniature" class="hiddenInput" accept="image/*">
						</div>
					</div>

					<div class="row">
						<div class="col-md-3 labelBox">
							<label class="formLabel">Tagi: </label>
						</div>

						<div class="col-md-9">
							<tags-input ng-model="editEventTags"></tags-input>
						</div>
					</div>

					<div class="row">
						<div class="col-md-3 labelBox">
							<label class="formLabel">Nauczyciel: </label>
						</div>

						<div class="col-md-9 inputBox">
							<input ng-model="editEvent.eventTeacher" placeholder="Wpisz imię i nazwisko nauczyciela" list="teachers">
							<datalist id="teachers">
								<option ng-repeat="teacher in teachers" value="{{teacher.name + ' ' + teacher.surname}}">
							</datalist>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 inputBox">
							<div ui-tinymce="addTextEditorOptions" ng-model="editEventText" class="bigEditor"></div>
						</div>
					</div>

				</form>

				<div class="row">
					<div class="col-md-12 plusButton" >
						<i class="fa fa-plus plusButtonClick" aria-hidden="true" ng-click="openWidgetMenu()"></i>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<a class="standardButton btn btn-primary btn-outline" ng-click="editEvents()" ng-if="editEvent.eventPublished">Edytuj</a>
						<a class="standardButton btn btn-primary btn-outline" ng-click="editEvents()" ng-if="!editEvent.eventPublished">Publikuj</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>