<div class="edit-news">
	<div class="jumbotron">
		<div class="container">
			<div class="events-container col-md-12 col-sm-12 col-xs-12">
				<form class="edtiNewsForm">
					<div class="row">
						<div class="col-md-3 labelBox">
							<label class="formLabel">Tytuł posta: <br><span class="charCounter">({{editArticleTitle.length}} / 80)</span></label>
						</div>
						<div class="col-md-9 inputBox">
							<div ui-tinymce="oneLineEditorOptions" ng-model="editArticleTitle"></div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-3 labelBox">
							<label class="formLabel">Opis skrócony posta: <br><span class="charCounter">({{editArticleShortText.length}} / 300)</span></label>
						</div>
						<div class="col-md-9 inputBox">
							<div ui-tinymce="oneLineEditorOptions" ng-model="editArticleShortText"></div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-3 labelBox postMiniature">
							<label class="formLabel">Miniatura posta: </label>
						</div>

						<div class="col-md-9 postMiniature">
							<img ng-src="{{oneNewsData.miniature}}" alt="{{oneNewsData.title}} image" class="editPostMiniature img-responsive" id="editPostMiniatureImage">
							<input type="file" accept="image/*">
						</div>
					</div>

					<div class="row">
						<div class="col-md-3 labelBox">
							<label class="formLabel">Tagi: </label>
						</div>

						<div class="col-md-9">
							<tags-input ng-model="editArticleTags"></tags-input>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 inputBox">
							<div ui-tinymce="editTextEditorOptions" ng-model="editArticleLongText"></div>
						</div>
					</div>

				</form>

				<a class="standardButton btn btn-primary btn-outline">Edytuj posta</a>
			</div>
		</div>
	</div>
</div>