  <div class="overlay">

    <div class="popup">

      <div class="exitButton" ng-click="closePopup()">
          <i class="fa fa-times" aria-hidden="true"></i>
      </div>

      <div class="row">
        <div class="col-md-12 header">
          <p class="innerElement">Dodawanie nowego widgetu!</p>
        </div>
      </div>

      <div class="row">
        
        <div class="col-lg-6 col-md-6 col-sm-6 element">
          <p class="innerElement" ng-click="addText(false)">
            <i class="fa fa-file-text" aria-hidden="true"></i>
            Wstaw tekst
          </p>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 element">
          <p class="innerElement" ng-click="addImage(false)">
            <i class="fa fa-picture-o" aria-hidden="true"></i>
            Wstaw zdjęcie
          </p>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 element">
          <p class="innerElement" ng-click="addGallery(false)">
            <i class="fa fa-file-image-o" aria-hidden="true"></i>
            Wstaw galerię
          </p>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 element">
          <p class="innerElement" ng-click="addDocument(false)">
            <i class="fa fa-book" aria-hidden="true"></i>
            Wstaw dokument
          </p>
        </div>
      </div>
    </div>
  </div>