  <div class="overlay">

    <div class="popup">

      <div class="exitButton" ng-click="closePopup()">
          <i class="fa fa-times" aria-hidden="true"></i>
      </div>

      <div class="row">
        <div class="col-md-12 header">
          <p class="innerElement">Dodawanie nowego widgetu!</p>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 element">
            <div class="icon" ng-click="addText(false)">
              <div class="innerIcon">
                <i class="fas fa-align-justify" aria-hidden="true"></i>
              </div>
              <p>Wstaw tekst</p>
            </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 element">
          <div class="icon" ng-click="addImage(false)">
            <div class="innerIcon">
              <i class="fas fa-file-image" aria-hidden="true"></i>
            </div>
            <p>Wstaw zdjęcie</p>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 element">
            <div class="icon" ng-click="addGallery(false)">
              <div class="innerIcon">
                <i class="fas fa-images" aria-hidden="true"></i>
              </div>
            <p>Wstaw galerię</p>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-6 element">
          <div class="icon" ng-click="addDocument(false)">
            <div class="innerIcon">
              <i class="fas fa-file-alt" aria-hidden="true"></i>
            </div>
            <p>Wstaw dokument</p>
          </div>
        </div>

      </div>
    </div>
  </div>