@import '../_vars';
.documents-page {
    h2 {
        @include breakpoint(mobileonly) {
            font-size: 16px;
            color: black;
            text-align: center;
        }
    }
    .newDocumentButton {
        @include breakpoint(mobileonly) {
            width: 100%;
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }
}