@import '../_vars';

.overview-page{

	h2{
		@include breakpoint(mobileonly){
			font-size: 16px;
			color: black;
			text-align: center;
		}
	}

	.newPostButton{
		@include breakpoint(mobileonly){
			width: 100%;
			margin: 0 auto;
			margin-bottom: 20px;
		}
	}

	.jumbotron{
		padding: 30px;

		@include breakpoint(mobileonly){
			padding: 0px;
			padding-top: 15px;
		}

		.overview-container{
			height: 230px;
			padding: 10px;
			margin-bottom: 10px;
			border-radius: 10px;
		}

		.overview-icon{
			text-align: center;
			height: 50%;
			padding: 0px;
			margin: 0px;
			background: #DCDCDC;

			i{
				padding-top: 30px;
				font-size: 80px;
				text-align: center;
				color: black;
			}
		}

		.overview-info{
			text-align: center;
			height: 50%;
			background: #DCDCDC;
			padding: 0px;
			margin: 0px;
			p{
				padding-top: 30px;
				color: black;
				text-align: center;

			}
		}

	}
}