.overview-page{

	.jumbotron{
		padding: 35px;
		margin-right: 10px;
		height: 250px;
	}

	.overview-icon{
		text-align: center;
	}

	.overview-icon i{
		font-size: 80px;
		text-align: center;
	}

	.overview-info{
		text-align: center;
	}

	.overview-info h3{
		color: black;
		text-align: center;
	}
}