<div class="edit-specializations">
  <div class="jumbotron">
    <div class="container">
      <div class="specializations-container col-md-12 col-sm-12 col-xs-12">
        <form class="editSpecializationsForm" enctype="multipart/form-data">
          <div class="row">
            <div class="col-md-3 labelBox">
              <label class="formLabel">Nazwa specjalizacji:
                <br>
                <span class="charCounter">({{editSpecializationName.length}} / 80)</span>
              </label>
            </div>
            <div class="col-md-9 inputBox">
              <div class="editor" ui-tinymce="oneLineEditorOptions" ng-model="editSpecializationName"></div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-3 labelBox">
              <label class="formLabel">Szkoła:
                <br>
                <span class="charCounter">({{editSpecializationSchool.length}} / 300)</span>
              </label>
            </div>
            <div class="col-md-9 inputBox">
              <div class="editor" ui-tinymce="oneLineEditorOptions" ng-model="editSpecializationSchool"></div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 inputBox">
              <div ui-tinymce="addTextEditorOptions" ng-model="editSpecializationText" class="bigEditor"></div>
            </div>
          </div>

        </form>

        <div class="row">
          <div class="col-md-12 plusButton" ng-click="openWidgetMenu()">
            <i class="fa fa-plus plusButtonClick" aria-hidden="true" ></i>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <a class="standardButton btn btn-primary btn-outline" ng-click="editSpecializations()">Edytuj</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>