<div class="dashboard-page">
  <div class="container-fluid">
    <div class="row">
      <div class="sidebar-icon">
        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
      </div>

      <dashboard-menu></dashboard-menu>
      
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      	<div class="events-page">
			<a ui-sref="addEventButton" class="pull-right btn btn-success btn-outline btn-rounded">Dodaj nowe wydarzenie</a>
			<h2>Zarządzanie wydarzeniami na stronie</h2>
			<span class="glyphicon glyphicon-dashboard bg-fade"></span>

			<show-events></show-events>

		</div>
      </div>

    </div>
  </div>
</div>