<div class="dashboard-page">
  <div class="container-fluid">
    <div class="row">
      <div class="sidebar-icon">
        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
      </div>

      <dashboard-menu></dashboard-menu>

      <div class="col-xs-12 col-sm-9 col-md-10 col-sm-offset-3 col-md-offset-2 main">
    		<div class="news-page">
    			<a href="/aktualnosci/dodaj-nowy-post" id="addNewPostButton" class="pull-right btn btn-success btn-outline btn-rounded newPostButton"><i class="fa fa-plus"></i> Dodaj Post</a>
    			<h2>Aktualności</h2>

          <div id="news-manage"></div>

    		</div>
      </div>



    </div>
  </div>
</div>

<div id="widget-manage"></div>

