<div class="dashboard-page">
  <div class="container-fluid">
    <div class="row">
      <div class="sidebar-icon">
        <i class="fa fa-angle-double-right" aria-hidden="true"></i>
      </div>

      <dashboard-menu></dashboard-menu>

      <div class="col-xs-12 col-sm-9 col-md-10 col-sm-offset-3 col-md-offset-2 main">
    	<div class="overview-page">
    		<a href="/aktualnosci/dodaj-nowy-post" id="addNewPostButton" class="pull-right btn btn-success btn-outline btn-rounded newPostButton">Dodaj nowy post</a>
    		<h2>Przegląd statystyk strony</h2>

    		<div class="overview">
    			<div class="jumbotron">
    				<div class="container">
							
							<div class="overview-container col-md-4 col-sm-12 col-xs-12">
								<div class="overview-icon">
									<i class="fa fa-newspaper-o" aria-hidden="true"></i>
								</div>
								<div class="overview-info">
									<p>13 artykułów</p>
								</div>
							</div>

							<div class="overview-container col-md-4 col-sm-12 col-xs-12">
								<div class="overview-icon">
									<i class="fa fa-calendar" aria-hidden="true"></i>
								</div>
								<div class="overview-info">
									<p>12 wydarzeń</p>
								</div>
							</div>

							<div class="overview-container col-md-4 col-sm-12 col-xs-12">
								<div class="overview-icon">
									<i class="fa fa-image" aria-hidden="true"></i>
								</div>
								<div class="overview-info">
									<p>12 galerii</p>
								</div>
							</div>

							<div class="overview-container col-md-4 col-sm-12 col-xs-12">
								<div class="overview-icon">
									<i class="fa fa-file" aria-hidden="true"></i>
								</div>
								<div class="overview-info">
									<p>50 dokumentów</p>
								</div>
							</div>

							<div class="overview-container col-md-4 col-sm-12 col-xs-12">
								<div class="overview-icon">
									<i class="fa fa-users" aria-hidden="true"></i>
								</div>
								<div class="overview-info">
									<p>50 nauczycieli</p>
								</div>
							</div>

							<div class="overview-container col-md-4 col-sm-12 col-xs-12">
								<div class="overview-icon">
									<i class="fa fa-graduation-cap" aria-hidden="true"></i>
								</div>
								<div class="overview-info">
									<p>50 uczniów</p>
								</div>
							</div>

    				</div>
    			</div>
    		</div>
    	</div>
      </div>
    </div>
  </div>
</div>