<div class="add-news">
	<div class="jumbotron">
		<div class="container">
			<div class="news-container col-md-12 col-sm-12 col-xs-12">
				<form class="addNewsForm" enctype="multipart/form-data">
					<div class="row">
						<div class="col-md-3 labelBox">
							<label class="formLabel">Tytuł posta: <br><span class="charCounter">({{addArticleTitle.length}} / 80)</span></label>
						</div>
						<div class="col-md-9 inputBox">
							<div class="editor" ui-tinymce="oneLineEditorOptions" ng-model="addArticleTitle"></div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-3 labelBox">
							<label class="formLabel">Opis skrócony posta: <br><span class="charCounter">({{addArticleShortText.length}} / 300)</span></label>
						</div>
						<div class="col-md-9 inputBox">
							<div class="editor" ui-tinymce="oneLineEditorOptions" ng-model="addArticleShortText"></div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-3 labelBox postMiniature">
							<label class="formLabel">Miniatura posta: </label>
						</div>

						<div class="col-md-9 postMiniature">
							<div class="postImage">
								<img ng-src="images/placeholder.jpg" alt="Post image" class="addPostMiniature img-responsive" ng-click="changePostMiniature(); $event.stopPropagation();" id="addPostMiniatureImage">
							</div>
							
							<input type="file" id="addPostMiniature" file-model="addPostMiniature" class="hiddenInput" accept="image/*">
						</div>
					</div>

					<div class="row">
						<div class="col-md-3 labelBox">
							<label class="formLabel">Tagi: </label>
						</div>

						<div class="col-md-9">
							<tags-input ng-model="addArticleTags"></tags-input>
						</div>
					</div>

					<div class="row">
						<div class="col-md-3 labelBox">
							<label class="formLabel">Nauczyciel: </label>
						</div>

						<div class="col-md-9 inputBox">
							<input ng-model="newPost.postTeacher" placeholder="Wpisz imię i nazwisko nauczyciela" list="teachers">
							<datalist id="teachers">
								<option ng-repeat="teacher in teachers" value="{{teacher.name + ' ' + teacher.surname}}">
							</datalist>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 inputBox">
							<div ui-tinymce="addTextEditorOptions" ng-model="addArticlePostText" class="bigEditor"></div>
						</div>
					</div>

				</form>

				<div class="row">
					<div class="col-md-12 plusButton" ng-click="openWidgetMenu()">
						<i class="fa fa-plus plusButtonClick" aria-hidden="true" ></i>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<a class="standardButton btn btn-primary btn-outline" ng-click="addNews(true)">Opublikuj</a>
					</div>

					<div class="col-md-6">
						<a class="standardButton btn btn-warning btn-outline" ng-click="addNews(false)">Podgląd na stronie</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>