<div class="edit-news">
	<div class="jumbotron">
		<div class="container">
			<div class="news-container col-md-12 col-sm-12 col-xs-12">
				<form class="editNewsForm" enctype="multipart/form-data">
					<div class="row">
						<div class="col-md-3 labelBox">
							<label class="formLabel">Tytuł posta: <br><span class="charCounter">({{editArticleTitle.length}} / 80)</span></label>
						</div>
						<div class="col-md-9 inputBox">
							<div class="editor" ui-tinymce="oneLineEditorOptions" ng-model="editArticleTitle"></div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-3 labelBox">
							<label class="formLabel">Opis skrócony posta: <br><span class="charCounter">({{editArticleShortText.length}} / 300)</span></label>
						</div>
						<div class="col-md-9 inputBox">
							<div class="editor" ui-tinymce="oneLineEditorOptions" ng-model="editArticleShortText"></div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-3 labelBox postMiniature">
							<label class="formLabel">Miniatura posta: </label>
						</div>

						<div class="col-md-9 postMiniature">
							<div class="postImage">
								<img ng-src="{{miniatureUrl}}" alt="Post image" class="editPostMiniature img-responsive" ng-click="changePostMiniature(); $event.stopPropagation();" id="editPostMiniatureImage">
							</div>
							
							<input type="file" id="editPostMiniature" file-model="editPostMiniature" class="hiddenInput" accept="image/*">
						</div>
					</div>

					<div class="row">
						<div class="col-md-3 labelBox">
							<label class="formLabel">Tagi: </label>
						</div>

						<div class="col-md-9">
							<tags-input ng-model="editArticleTags"></tags-input>
						</div>
					</div>

					<div class="row">
						<div class="col-md-3 labelBox">
							<label class="formLabel">Nauczyciel: </label>
						</div>

						<div class="col-md-9 inputBox">
							<input ng-model="editPost.postTeacher" placeholder="Wpisz imię i nazwisko nauczyciela" list="teachers">
							<datalist id="teachers">
								<option ng-repeat="teacher in teachers" value="{{teacher.name + ' ' + teacher.surname}}">
							</datalist>
						</div>
					</div>

					<div class="row">
						<div class="col-md-12 inputBox">
							<div ui-tinymce="addTextEditorOptions" ng-model="editArticlePostText" class="bigEditor"></div>
						</div>
					</div>

				</form>

				<div class="row">
					<div class="col-md-12 plusButton" ng-click="openWidgetMenu()">
						<i class="fa fa-plus plusButtonClick" aria-hidden="true"></i>
					</div>
				</div>

				<div class="row">
					<div class="col-md-6">
						<a class="standardButton btn btn-primary btn-outline" ng-click="editNews(true)" ng-if="editPost.postPublished">Edytuj</a>
						<a class="standardButton btn btn-primary btn-outline" ng-click="editNews(true)" ng-if="!editPost.postPublished">Publikuj</a>
					</div>

					<div class="col-md-6">
						<a class="standardButton btn btn-warning btn-outline" ng-click="editNews(false)">Podgląd na stronie</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>