<search-bar from="newsData" value="postTitle" placeholder="Wpisz tytuł posta..."></search-bar>

<div class="show-news">
	<div class="jumbotron" ng-repeat="news in newsData" ng-if="news.display">
		<div class="container">
			<div class="news-container col-md-12 col-sm-12 col-xs-12">
				<div class="row">
					<div class="news-image col-md-3 col-sm-12 col-xs-12">
						<img ng-src="{{galleryUrl}}/newsGallery/{{news.postMiniatureSmall}}" alt="{{news.postTitle}} post image" class="img-responsive">
					</div>
					<div class="news-info col-md-9 col-sm-12 col-xs-12 ">
						<h2 class="news-header">{{news.postTitle}}</h2>
						<p class="news-data-info">
							Data modyfikacji: <strong><small>{{news.postData}}</small></strong><br>
							Autor: <strong><small>{{news.postAuthor}}</small></strong> <br>
							Nauczyciel: <strong><small>{{news.postTeacher}}</small></strong> <br>
							Opublikowany: 
							<strong>
								<small ng-if="news.postPublished" class="green">TAK</small>
								<small ng-if="!news.postPublished" class="orange">NIE</small>
							</strong></p>
						<p class="categories"><strong>Kategorie: </strong> 
							<span class="label label-default" ng-repeat="tag in news.postTags">{{tag.text}}</span>
						</p>
					</div>
					<div class="row shortInfo">
						<div class="col-md-12 text">{{news.postShort}}</div>
					</div>

					<div class="row buttonsRow">
						<div class="news-buttons">
							<div class="col-md-offset-6 col-md-3 col-sm-6 col-xs-6">
								<a ng-click="removePost(news.postIdent)" class="pull-right btn btn-danger btn-outline btn-rounded"><i class="fa fa-trash"></i> Usuń Post</a>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-6">
								<a ng-click="editPosts(news.postIdent)" class="pull-right btn btn-warning btn-outline btn-rounded"><i class="fa fa-edit"></i> Edytuj Post</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>